<!DOCTYPE html>
<html lang="en">
    <head>
        <meta name="utf-8"/>
        <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    </head>
    <body>
        <div class="container requestsPage">
            <h2 class="title">Approve Role Modification:</h2>
            <p class="labela">Here, the administrator can approve or disaprove submitted role change requests from users.</p>
            <app-table-component [tableType]='10'></app-table-component>
        </div>
    </body>
</html>