<!-- <form class="settings" [formGroup]="settingsForm" (ngSubmit)="onSubmit()" >

<div class="container">
    <div class="row border mt-5" id="passwords">
      <label class="label h4 mt-2 mb-5 " for="passwords">Change password</label>  
      <div class="col col-md-3">
            <label class="label" for="currentPassword">Current password</label>
            <input
                    id="currentPassword"
                    type="password"
                    class="form-control"
                    placeholder="Enter current password"
                    formControlName="currentPassword"                  
            />
            <small *ngIf="settingsForm.get('currentPassword').invalid && settingsForm.get('currentPassword').touched" class="text-danger">Current password is required.</small>

        </div>
        <div class="col col-md-3 mb-2">
          <label class="label" for="newPassword">New password</label>
            <input
                    id="newPassword"
                    type="password"
                    class="form-control"
                    placeholder="Enter new password"
                    formControlName="newPassword"                  
            />
            <small *ngIf="settingsForm.get('newPassword').invalid && settingsForm.get('newPassword').touched" class="text-danger">New password is required.</small>

        </div>
        <div class="row ">
            <div class="w-auto mt-5 mb-5">
                <button class="btn btn-success" type="submit">
                    Change password
                </button>
            </div>
        </div>  
    </div>
    </div>
</form>

<form class="settings" [formGroup]="settingsFormAdmin" (ngSubmit)="onSubmitAdmin()" >
  <div class="container admin-view mt-5 mb-5 border rounded" >
      <div id="notifications" class="row notifications">        
        <label class="label h4 mt-2 mb-5" for="notifications">Select visible notifications</label>  
        <div class="ml-2">
          <div class="form-check">
            <input type="checkbox" class="form-check-input" formControlName="infoCheck">Info
        </div>
        <div class="form-check">
            <input type="checkbox" class="form-check-input" formControlName="warningCheck">Warnings
        </div>
        <div class="form-check">
            <input type="checkbox" class="form-check-input" formControlName="successCheck" >Success
        </div> 
        <div class="form-check">
            <input type="checkbox" class="form-check-input" formControlName="errorCheck">Errors
        </div> 
        </div>
         
      </div>

      <div id="icons" class="row mt-5 icons "> 
        <label class="label h4 mt-2 " for="icons">Manage icons</label>
        <div class="row">
          <div class="col col-md-3 p-5 icon-img-browse">
            <h2 class="label border-bottom pb-3 mb-5">Calls icon</h2>
            <div class="row">
                    <div class="col ">
                        <div class="form-group">
                            <label class="row mb-4 icon-img-wrapper" for="call-photo-btn">
                                <img [src]="callIcon" formControlName="iconCall" *ngIf="callIcon" class="icon-img" >                            
                            </label> 
                                                    
                            <div class='row'>
                                <label class="btn btn-primary mx-auto">
                                        Browse
                                        <input type="file" id="call-photo-btn" (change)="onFileChanged($event , 1)" name="DocumentPicture" #DocumentPicture accept="image/*" style="display: none;">
                                </label>
                            </div>
                        </div>                   
                    </div> 
              </div>
          </div>
          <div class="col col-md-3 p-5 icon-img-browse">
            <h2 class="h3 border-bottom pb-3 mb-5 section-title">Incidents icon</h2>
            <div class="row">
                    <div class="col ">
                        <div class="form-group">
                            <label class="row mb-4 icon-img-wrapper" for="incident-photo-btn">
                                <img [src]="incidentIcon" formControlName="iconIncident" *ngIf="incidentIcon" class="icon-img" >                            
                            </label> 
                                                    
                            <div class='row'>
                                <label class="btn btn-primary mx-auto">
                                        Browse
                                        <input type="file" id="incident-photo-btn" (change)="onFileChanged($event , 2)" name="DocumentPicture" #DocumentPicture accept="image/*" style="display: none;">
                                </label>
                            </div>
                        </div>                   
                    </div> 
              </div>
          </div>            
          <div class="col col-md-3 p-5 icon-img-browse">
            <h2 class="h3 border-bottom pb-3 mb-5 section-title">Crews icon</h2>
            <div class="row">
                    <div class="col ">
                        <div class="form-group">
                            <label class="row mb-4 icon-img-wrapper" for="crew-photo-btn">
                                <img [src]="crewIcon" formControlName="iconCrew" *ngIf="crewIcon" class="icon-img" >                            
                            </label> 
                                                    
                            <div class='row'>
                                <label class="btn btn-primary mx-auto">
                                        Browse
                                        <input type="file" id="crew-photo-btn" (change)="onFileChanged($event , 3)" name="DocumentPicture" #DocumentPicture accept="image/*" style="display: none;">
                                </label>
                            </div>
                        </div>                   
                    </div> 
              </div>
          </div>

        </div>
      </div>

      <div id="other-settings" class="row mt-5 mb-5 ">
        <label class="label h4 mt-2 " for="other-settings">Other settings</label>
        <div class="ml-2">
            <div class="form-check">
                <input type="checkbox" class="form-check-input" >Show only mandatory fields
            </div>
  
            <div class="form-check">
                <input type="checkbox" class="form-check-input" >Reset all settings
            </div>         
        </div>

      </div>  
      <div class="row justify-content-end">
        <div class="w-auto ml-auto mb-5">
            <button class="btn btn-success" type="submit">
                Save changes
            </button>
        </div>
    </div> 
  </div>
</form> -->

<form class="settings container mt-5 clearfix" [formGroup]="settingsForm" (ngSubmit)="onSubmit()">
    <header class="mt-2 mb-4">
        <h2 class="label">Change password</h2>  
    </header>
    <div class="form-group">
            <label for="change_password__current_password" class="label">Current password</label>
            <input
                type="password"
                id="change_password__current_password"
                class="form-control col-md-4 mt-1"
                placeholder="Enter current password"
                formControlName="Old"                  
            />
            <small *ngIf="settingsForm.get('Old').invalid && settingsForm.get('Old').touched" class="form-text text-danger">
                Current password is required.
            </small>
    </div>

    <div class="form-group">
            <label for="change_password__new_password" class="label">New password</label>
            <input
                type="password"
                id="change_password__new_password"
                class="form-control col-md-4 mt-1"
                placeholder="Enter new password"
                formControlName="New"                  
            />
            <small *ngIf="settingsForm.get('New').invalid && settingsForm.get('New').touched" class="form-text text-danger">
                    New password is required.
            </small>
    </div>
    <button class="btn btn-success float-right" type="submit">Change password</button>
</form>

<form class="settings container mt-5 mb-5 clearfix" [formGroup]="settingsFormAdmin" (ngSubmit)="onSubmitAdmin()">
        <hr class="mt-5 mb-5"/>
        <fieldset class="notifications">     
            <header class="mt-2 mb-4">
                <h2 class="label">Select visible notifications</h2>  
            </header>     
            <div class="form-check">
                <input type="checkbox" id="checkbox_notification_info" class="form-check-input">
                <label class="form-check-label" for="checkbox_notification_info"  formControlName="infoCheck">Info</label>
            </div>
            <div class="form-check">
                <input type="checkbox" id="checkbox_notification_warnings" class="form-check-input" >
                <label class="form-check-label" for="checkbox_notification_warnings"  formControlName="warningCheck">Warnings</label>			
            </div>
            <div class="form-check">
                <input type="checkbox" id="checkbox_notification_success" class="form-check-input" >
                <label class="form-check-label" for="checkbox_notification_success" formControlName="successCheck">Success</label>			
            </div> 
            <div class="form-check">
                <input type="checkbox" id="checkbox_notification_errors" class="form-check-input" >
                <label class="form-check-label" for="checkbox_notification_errors" formControlName="errorCheck">Errors</label>	
            </div> 	
        </fieldset>

        <fieldset id="icons" class="mt-5 icons"> 
            <header class="mt-2 mb-4">
                <h2 class="label">Manage icons</h2>  
            </header> 
            <div class="row">
                <div class="col col-md-3 icon-img-browse">
                        <div class="p-3 border rounded">
                        <h5 class="label mb-5">Calls icon</h5>
                        <div class="row">
                            <div class="col ">
                                <div class="form-group">
                                    <label class="row mb-4 icon-img-wrapper" for="call-photo-btn">
                                        <img [src]="callIcon" formControlName="iconCall" *ngIf="callIcon" class="icon-img" >                            
                                    </label> 
                                                                                    
                                    <div class='row'>
                                        <label class="btn btn-primary mx-auto">
                                            Browse
                                            <input type="file" id="call-photo-btn" (change)="onFileChanged($event , 1)" name="DocumentPicture" #DocumentPicture accept="image/*" style="display: none;">
                                        </label>
                                    </div>
                                </div>                   
                            </div> 
                        </div>
                    </div>
                </div>
                <div class="col col-md-3 icon-img-browse">
                    <div class="p-3 border rounded">
                        <h5 class="mb-5 section-title">Incidents icon</h5>
                        <div class="row">
                            <div class="col ">
                                <div class="form-group">
                                    <label class="row mb-4 icon-img-wrapper" for="incident-photo-btn">
                                        <img [src]="incidentIcon" formControlName="iconIncident" *ngIf="incidentIcon" class="icon-img" >                            
                                    </label> 
                                                                                        
                                    <div class='row'>
                                        <label class="btn btn-primary mx-auto">
                                            Browse
                                            <input type="file" id="incident-photo-btn" (change)="onFileChanged($event , 2)" name="DocumentPicture" #DocumentPicture accept="image/*" style="display: none;">
                                        </label>
                                    </div>
                                </div>                   
                            </div> 
                        </div>
                    </div>
                </div>            
                <div class="col col-md-3 icon-img-browse">
                    <div class="p-3 border rounded">
                        <h5 class="mb-5 section-title">Crews icon</h5>
                        <div class="row">
                            <div class="col ">
                                <div class="form-group">
                                    <label class="row mb-4 icon-img-wrapper" for="crew-photo-btn">
                                        <img [src]="crewIcon" formControlName="iconCrew" *ngIf="crewIcon" class="icon-img" >                            
                                    </label> 
                                                                                    
                                    <div class='row'>
                                        <label class="btn btn-primary mx-auto">
                                            Browse
                                            <input type="file" id="crew-photo-btn" (change)="onFileChanged($event , 3)" name="DocumentPicture" #DocumentPicture accept="image/*" style="display: none;">
                                        </label>
                                    </div>
                                </div>                   
                            </div> 
                            </div>
                    </div>
                </div>
            </div>
        </fieldset>

        <fieldset id="other-settings" class="mt-5 mb-5">
            <header class="mt-2 mb-4">
                <h2 class="label">Other settings</h2>  
            </header> 
            <div class="form-check">
                <input type="checkbox" id="checkbox_other_settings__mandatory_fields" class="form-check-input">
                <label class="form-check-label" for="checkbox_other_settings__mandatory_fields" formControlName="mandatoryCheck">Show only mandatory fields</label>
            </div>
            <div class="form-check">
                <input type="checkbox" id="checkbox_other_settings__reset_settings" class="form-check-input">
                <label class="form-check-label" for="checkbox_other_settings__reset_settings" formControlName="resetCheck">Reset all settings</label>
            </div>
        </fieldset>  
        <button class="btn btn-success float-right" type="submit">Save changes</button>
</form>