
.form-group input, select , label{
    height: 34px;
    color: #699FA1;
    font-weight: bold;
    border-radius: 4px;
}
.col-form-label{
    color: #dd612c;
    font-family: 'Georgia';
}
.title{
    font-family: 'Roboto';
    font-weight: bold;
    color: #ec7729;
}
.text-danger{
    font-weight: bold;
    text-align: right;
    animation: fadein 0.3s;
}

@keyframes fadein{
    0%{ opacity: 0; }
    100%{ opacity: 1; }
}
.labela{
    color: #699fa1;
    font-family: 'Georgia';
    margin-bottom: 25px;
}

.btn-primary {
    background: var(--c-blue-100);
    color: white;
    font-weight: bolder;
    border-color: var(--c-blue-100);
    margin-top: 15px;
}

.btn-primary:hover{
    background: var(--c-orange-200);
    border-color: var(--c-orange-200);
}