<div class="container">
 <form class="plan-basic-info-form" [formGroup]="planBasicInfoForm"> 
    <div class="container">
        <h3 class="title">Basic information:</h3>
        <p class="labela">Please fill out all necessary fields.</p> 
        <div class="row">
            <div class="col">
                <div class="form-group row">
                    <label class="col-sm-6 col-form-label">Type:</label>
                    <select class="col-sm-6 form-control" formControlName="type">
                        <option>Planned work</option>
                        <option>Unplanned work</option>
                    </select>
                    <small *ngIf="planBasicInfoForm.get('type').invalid && planBasicInfoForm.get('type').touched" class="text-danger">Type is required.</small>
                </div>

                <div class="form-group row">
                    <label class="col-sm-6 col-form-label">Status:</label>
                    <input class="col-sm-6 form-control" formControlName="status" type="text" readonly/>              
                    <small *ngIf="planBasicInfoForm.get('status').invalid && planBasicInfoForm.get('status').touched" class="text-danger">Status is required.</small>
              
                </div>
                <div class="unplanned" *ngIf="planBasicInfoForm.get('type').value=='Unplanned work'">
                    <div class="form-group row">
                        <label class="col-sm-6 col-form-label">Work request:</label>
                        <input class="col-sm-6 " type="text" formControlName="workRequestId"  [matAutocomplete]="auto" (dblclick)=OpenWR()/>
                        <small *ngIf="planBasicInfoForm.get('workRequestId').invalid && planBasicInfoForm.get('workRequestId').touched" class="text-danger">Work request is required.</small>
                        <mat-autocomplete #auto="matAutocomplete">
                            <mat-option *ngFor="let request of filteredRequests | async" [value]="request">
                              {{request}}
                            </mat-option>
                          </mat-autocomplete>                    
                    </div>
                    <div class="form-group row">
                        <label class="col-sm-6 col-form-label">Incident:</label>
                        <input class="col-sm-6 " type="text" formControlName="incidentId" readonly/>
                        <small *ngIf="planBasicInfoForm.get('incidentId').invalid && planBasicInfoForm.get('incidentId').touched" class="text-danger">Incident is required.</small>
                    </div>
                </div>               
                <div class="form-group row">
                    <label class="col-sm-6 col-form-label">Street:</label>
                    <input class="col-sm-6 form-control" type="text" formControlName="street" [matAutocomplete]="auto" />
                    <small *ngIf="planBasicInfoForm.get('street').invalid && planBasicInfoForm.get('street').touched" class="text-danger">Street is required.</small>
                    <mat-autocomplete #auto="matAutocomplete">
                        <mat-option *ngFor="let street of filteredStreets | async" [value]="street">
                          {{street}}
                        </mat-option>
                      </mat-autocomplete>
                </div>
                <div class="form-group row">
                    <label class="col-form-label col-sm-6">Start date/time:</label>
                    <input class="col-sm-6 form-control" type="date" formControlName="startDateTime"/>
                    <small *ngIf="planBasicInfoForm.get('startDateTime').invalid && planBasicInfoForm.get('startDateTime').touched" class="text-danger">Start date and time are required.</small>

                </div>
                <div class="form-group row">
                    <label class="col-sm-6 col-form-label">End date/time:</label>
                    <input class="col-sm-6 form-control" type="date" formControlName="endDateTime"/>
                    <small *ngIf="planBasicInfoForm.get('endDateTime').invalid && planBasicInfoForm.get('endDateTime').touched" class="text-danger">End date and time are required.</small>
                    <small *ngIf="planBasicInfoForm.hasError('dateError')" class="text-danger">End date can't be earlier than start date.</small>
                </div>
            </div>
            <div class="col">
                <div *ngIf="editMode" class="form-group row">
                    <label class="col-sm-6 col-form-label">Field crew:</label>
                    <input class="col-sm-6 " type="text" formControlName="crewId" readonly/>
                    <small *ngIf="planBasicInfoForm.get('crewId').invalid && planBasicInfoForm.get('crewId').touched" class="text-danger">Crew is required.</small>
                </div>
                <div *ngIf="editMode" class="form-group row">
                    <label class="col-sm-6 col-form-label">Created by:</label>
                    <input class="col-sm-6 " formControlName="user" type="text" readonly/>
                    <small *ngIf="planBasicInfoForm.get('user').invalid && planBasicInfoForm.get('user').touched" class="text-danger">User is required.</small>

                </div>
                <div class="form-group row">
                    <label class="col-sm-6 col-form-label">Company:</label>
                    <input class="col-sm-6 form-control" type="text" formControlName="company"/>
                    <small *ngIf="planBasicInfoForm.get('company').invalid && planBasicInfoForm.get('company').touched" class="text-danger">Company is required.</small>

                </div>
                <div class="form-group row">
                    <label class="col-sm-6 col-form-label">PhoneNo:</label>
                    <input class="col-sm-6 form-control" type="text" formControlName="phoneNumber" />
                    <small *ngIf="planBasicInfoForm.get('phoneNumber').invalid && planBasicInfoForm.get('phoneNumber').touched" class="text-danger">Phone number is required.</small>

                </div>
                <div  *ngIf="editMode" class="form-group row">
                    <label class="col-sm-6 col-form-label">Date/time created:</label>
                    <input class="col-sm-6 form-control" type="date" formControlName="createdDateTime" readonly/>
                    <small *ngIf="planBasicInfoForm.get('createdDateTime').invalid && planBasicInfoForm.get('createdDateTime').touched" class="text-danger">Created date and time are required.</small>

                </div>
            </div>
        </div>
        <div class="row">
            <div class="col">
                <div class="form-group row">
                    <label class="col-sm-3 col-form-label">Purpose:</label>
                    <input class="col form-control" type="text" formControlName="purpose"/>
                    <small *ngIf="planBasicInfoForm.get('purpose').invalid && planBasicInfoForm.get('purpose').touched" class="text-danger">Purpose is required.</small>

                </div>
                <div class="form-group row">
                    <label class="col-sm-3 col-form-label">Notes:</label>
                    <input class="col form-control" type="text" formControlName="notes"/>
                    <small *ngIf="planBasicInfoForm.get('notes').invalid && planBasicInfoForm.get('notes').touched" class="text-danger">Notes are required.</small>

                </div>
            </div>
        </div>
    </div>
</form> 
<div class="row justify-content-center mt-5">
    <div *ngIf="editMode" class="w-auto ml-5">
        <button class="btn" (click)="saveChanges()">Save Changes</button>
        <button class="btn ml-3" routerLink="/workPlans">Cancel</button>
    </div>
</div>

</div>

