<!DOCTYPE html>

<html>

<body>
  <div class="RegisterWrapper">
    <p class="MainLabela">Registruj se!</p>
    <p class="SecondaryLabela">Nemate nalog? Registrujte nalog za manje od minut.</p>
    <form>
      <div class="container">
        <img src="assets/Images/defimage3.jpg" height="104" style="border-radius: 50%; padding: 15px;"/>
        <p class="labela">Upload image</p>
        <div class="row form-group">
          <div class="col">
            <div class="sekcija">
              <p class="labela">Ime:</p>
              <input class="inputpolja form-control" type="text" />
            </div>
            <div class="sekcija">
              <p class="labela">Korisničko ime:</p>
              <input class="inputpolja form-control" type="text" />
            </div>
            <div class="sekcija">
              <p class="labela">Korisnička lozinka:</p>
              <input class="inputpolja form-control" type="password" />
            </div>
            <div class="sekcija">
              <p class="labela">Datum rodjenja:</p>
              <input class="inputpolja form-control" type="date" />
            </div>
          </div>
          <div class="col">
            <div class="sekcija">
              <p class="labela">Prezime:</p>
              <input class="inputpolja form-control" type="text" />
            </div>
            <div class="sekcija">
              <p class="labela">Email:</p>
              <input class="inputpolja form-control" type="text" />
            </div>
            <div class="sekcija">
              <p class="labela">Potvrdite lozinku:</p>
              <input class="inputpolja form-control" type="password" />
            </div>
            <div class="sekcija">
              <p class="labela">Adresa:</p>
              <input class="inputpolja form-control" type="text" />
            </div>
          </div>
          <div class="sekcija">
            <p class="labela">Tip korisnika:</p>
            <select class="inputpolja form-control" name="Gender">
              <option value="Potrošač">Redovni potrošač</option>
              <option value="Član ekipe">Član ekipe</option>
              <option value="Dispečer">Dispečer</option>
              <option value="ZaposleniPregledac">Zaposleni(privilegije pregleda)</option>
              <option value="Administrator">Administrator</option>
            </select>
          </div>
        </div>
      </div>
      <br/>
      <button>Registruj se</button>
    </form>
  </div>
  <br/>
</body>

</html>