<!DOCTYPE html>

<html>

<body>
  <div class="RegisterWrapper">
    <p class="MainLabela">Register here!</p>
    <p class="SecondaryLabela">Dont have an account? Register an account in less than a minute.</p>
    <form name="registeringForm" [formGroup]="registerForm" ngSubmit="onSubmit()">
      <div class="container">
        <div class="imageBorderClass">
        <input id='fileid' type='file' #fileInput hidden (change)="onFileChanged($event)" accept="image/*" formControlName="FilePicture" />
        <a (click)="fileInput.click()">
          <img [src]="picurl" class="profileImg" [ngClass]="{ profileImgDefault: onDefault===true }" />
        </a>
        <p class="labela">Upload image <i *ngIf="!onDefault" class="fas fa-times-circle" style="cursor: pointer;" (click)="clearImage()"></i></p>
        </div>
        <div class="row form-group">
          <div class="col">
            <div class="sekcija">
              <p class="labela">Name: <small *ngIf="registerForm.get('Name').errors?.required && registerForm.get('Name').touched" class="text-danger">Required.</small>
                                      <small *ngIf="registerForm.get('Name').errors?.maxlength" class="text-danger">Too long.</small>
              </p>
              <input class="inputpolja form-control" type="text" formControlName="Name" />
            </div>
            <div class="sekcija">
              <p class="labela">Username: <small *ngIf="registerForm.get('Username').errors?.required && registerForm.get('Username').touched" class="text-danger">Required.</small>
                                          <small *ngIf="registerForm.get('Username').errors?.maxlength" class="text-danger">Too long.</small>
              </p>
              <input class="inputpolja form-control" type="text" formControlName="Username" />
            </div>
            <div class="sekcija">
              <p class="labela">Password: <small *ngIf="registerForm.get('Password').errors?.required && registerForm.get('Password').touched" class="text-danger">Required.</small>
                                          <small *ngIf="registerForm.get('Password').errors?.maxlength" class="text-danger">Too long.</small>
                                          <small *ngIf="registerForm.get('Password').errors?.minlength" class="text-danger">Too short.</small>
              </p>
              <input class="inputpolja form-control" type="password" formControlName="Password" />
            </div>
            <div class="sekcija">
              <p class="labela">Date of birth: <small *ngIf="registerForm.get('Birthday').invalid && registerForm.get('Birthday').touched" class="text-danger">Required.</small></p>
              <input class="inputpolja form-control" type="date" formControlName="Birthday" />
            </div>
          </div>
          <div class="col">
            <div class="sekcija">
              <p class="labela">Lastname: <small *ngIf="registerForm.get('Lastname').errors?.required && registerForm.get('Lastname').touched" class="text-danger">Required.</small>
                                          <small *ngIf="registerForm.get('Lastname').errors?.maxlength" class="text-danger">Too long.</small>
              </p>
              <input class="inputpolja form-control" type="text" formControlName="Lastname" />
            </div>
            <div class="sekcija">
              <p class="labela">Email: <small *ngIf="emailForm.errors?.required && registerForm.get('Email').touched" class="text-danger">Required.</small>
                                       <small *ngIf="emailForm.errors?.email" class="text-danger">Not a valid email.</small>
              </p>
              <input class="inputpolja form-control" type="email" formControlName="Email" />
            </div>
            <div class="sekcija">
              <p class="labela">Confirm pass: <small *ngIf="registerForm.get('ConfirmedPassword').invalid && registerForm.get('ConfirmedPassword').touched && !registerForm.hasError('confirmError')" class="text-danger">Required.</small>
                                              <small *ngIf="registerForm.hasError('confirmError')" class="text-danger">Not matching.</small>
              </p>
              <input class="inputpolja form-control" type="password" formControlName="ConfirmedPassword" />
            </div>
            <div class="sekcija">
              <p class="labela">Address: <small *ngIf="registerForm.get('Address').errors?.required && registerForm.get('Address').touched" class="text-danger">Required.</small>
                                         <small *ngIf="registerForm.get('Address').errors?.maxlength" class="text-danger">Too long.</small>

              </p>
              <input class="inputpolja form-control" type="text" formControlName="Address" />
            </div>
          </div>
          <div class="sekcija" [ngClass]="{ rolesSection: teamSelected===true }">
            <p class="labela">User Type:</p>
            <select class="inputpolja form-control" name="Gender" #selectOpt formControlName="UserType" (change)="onChange(selectOpt.value)">
              <option value="Potrošač">Consumer</option>
              <option value="Član ekipe">Team member</option>
              <option value="Dispečer">Dispatcher</option>
              <option value="ZaposleniPregledac">Employed(data analyst)</option>
              <option value="Administrator">Administrator</option>
            </select>
          </div>
          <div class="sekcija teamSection" *ngIf="teamSelected">
            <p class="labela">Team:</p>
            <input class="inputpolja form-control" type="text" fromControlName="TeamId" />
          </div>
        </div>
      </div>
      <br />
      <button type="submit" (click)="onSubmit()">Sign Up</button>
    </form>
    <br />
  </div>
  <br />
</body>

</html>