.formRow{
    margin-top: 21px;
    padding-right: 100px;
}

label{
    color: #dd612c;
    font-family: 'Georgia';
   
}

.form-group input, select {
    height: 34px;
    color: #699FA1;
    font-weight: bold;
    background-color: rgba(137, 179, 228, 0.3);
    border-radius: 4px;  
}

.title{
    margin-top: 10%;
    font-family: 'Roboto';
    font-weight: bold;
    color: #ec7729;
}

.labela{
    color: #699fa1;
    font-family: 'Georgia';
    margin-bottom: 25px;
}

.btn{
    background: var(--c-blue-100);
    color: white;
    font-weight: bold;
    border-color: var(--c-blue-100);
}
.btn:hover{
    background: var(--c-orange-200);
    border-color: var(--c-orange-200);
}

.dugmad{
    padding-top: 40px;
    text-align: center;
    padding-right: 150px;
}

.row{
    padding-top: 7px;
}

.text-danger{
    font-weight: bold;  
    padding-left: 350px;
    animation: fadein 0.3s;
}

@keyframes fadein{
    0%{ opacity: 0; }
    100%{ opacity: 1; }
}