

<div class="container basicInformationForm">
    <h3 class="title">Add New Device:</h3>
    <p class="labela">Please fill in the fields below.</p>
    <form name="deviceForm" [formGroup]="deviceForm" (ngSubmit)="submitForm()">
        <div class="row formRow">
            <div class="col">
                <div class="form-group row">
                    <label class="col-sm-4 col-form-label">Type:</label>
                    <select id="deviceSelect" name="deviceSelect" class="col-sm-2 form-control" formControlName="type">
                        <option>Disconnector</option>
                        <option>Transformator</option>
                        <option>Breaker</option>
                        <option>Fuse</option>                   
                    </select>
                    <small *ngIf="deviceForm.get('type').invalid && deviceForm.get('type').touched" class="text-danger">Type is required field.</small>                    
                </div>
                <div class="form-group row">
                    <label class="col-sm-4 col-form-label">ID:</label>
                    <input class="col-sm-1" formControlName="id" disabled/>
                </div>
                <div class="form-group row">
                    <label class="col-sm-4">Name:</label>
                    <input id="deviceName" class="col-sm-2 form-control" formControlName="name" disabled/>
                </div>
                <div class="form-group row">
                    <label class="col-sm-4 col-form-label">Address:</label>
                    <input class="col-sm-2 form-control" type="text" formControlName="address"/>
                    <small *ngIf="deviceForm.get('address').invalid && deviceForm.get('address').touched" class="text-danger">Street is required field.</small>
                </div>
                <div class="form-group row">
                    <label class="col-sm-4 col-form-label">Coordinates:</label>
                    <input class="col-sm-2 form-control"/>
                </div>   
                     
            </div>            
        </div>
        <button type="submit" class="btn btn-primary">Add Device</button>   
    </form>
 
</div>