<!DOCTYPE html>

<html>

<body>
  <div class="container">
  <div class="LoginWrapper">
    <br /><br />
    <p class="MainLabela">Welcome back<span class="SecondaryLabela"> we missed you, sign in your account.</span></p>
    <br />
    <img class="logo" src="/assets/Images/logo_transparent.png" height="100" />
    <br />
    <br />
    <form name="loginForm" [formGroup]="loginForm">
        <div class="form-group">
          <p class="labela">Username:</p>
          <input class="inputpolja form-control" type="text" formControlName="username" />
          <small *ngIf="loginForm.get('username').invalid && loginForm.get('username').touched"
            class="text-danger">Username is a required field.</small>
          <p class="labela">Password:</p>
          <input class="inputpolja form-control" type="password" formControlName="password" />
          <small *ngIf="loginForm.get('password').invalid && loginForm.get('password').touched"
            class="text-danger">Password is required field.</small>
          <br /><br />
          <button (click)="openDashboard()" class="inputpolja" style="padding-bottom:4px;">Sign Up</button>
        <app-social-networks-login-component></app-social-networks-login-component>
      </div>
    </form>
    <br />
    <div style="font-size:1.5em">
       <a href="/new-call" class="buttonReport" style="background-color:#A5D6D9;"><i class="fas fa-phone-alt"></i> Submit a Call</a> 
    </div>
    <a>
      <p class="labela">Not registered? Register here!</p>
    </a>
  </div>
</div>
</body>

</html>