body{
    background:transparent;
}

.MainLabela{

    font-family: Helvetica, sans-serif;
    font-weight:bold;
    font-size: 24px;
    color: #ec7729;

}

.SecondaryLabela{

    font-family: Helvetica, sans-serif;
    font-weight:bold;
    font-size: 17px;
    color: #DD612C;

}

.labela{
    padding-top: 15px;
    font-family: 'Georgia';
    color: #699FA1

}

.inputpolja {
    color: #699FA1;
    font-weight: bold;
    background-color: rgba(137, 179, 228, 0.3);
}

.sekcija {
    display: inline-block;
    padding: 10px;
}

.LoginWrapper {

    width: 350px;
    text-align:center;

}

button{
    border-radius: 18px;
    height:34px;
    width: 150px;
    color: #699FA1;
    font-weight: bold;
    background-color: rgba(137, 179, 228, 0.3);
}

a.buttonReport {
	padding:0.46em 1.6em;
	border: 0.1em solid #dd612c;
	margin:0 0.2em 0.2em 0;
	border-radius:0.12em;
	box-sizing: border-box;
	text-decoration:none;
	font-family:'Roboto';
	font-weight:300;
	color: #DD612C;
	text-shadow: 0 0.04em 0.04em rgba(0,0,0,0.35);
	background-color:#FFFFFF;
	text-align:center;
	transition: all 0.15s;
}

a.buttonReport:hover {
	text-shadow: 0 0 2em rgba(255,255,255,1);
	color:#FFFFFF;
	border-color:#FFFFFF;
}