<!DOCTYPE html>

<html>

<body>
  <div class="LoginWrapper">
    <br /><br />
    <p class="MainLabela">Dobrodošli nazad, <span class="SecondaryLabela">prijavite se na vaš nalog.</span></p>
    <br />
    <img class="logo" src="/assets/Images/logo_transparent.png" height="100" />
    <br />
    <br/>
    <form>
      <div class="form-group">
        <p class="labela">Korisničko ime:</p>
        <input class="inputpolja form-control" type="text" />
        <p class="labela">Korisnička lozinka:</p>
        <input class="inputpolja form-control" type="password" />
        <br /><br />
        <button (click)="openDashboard()" class="inputpolja">Prijavi se</button>
      </div>
    </form>
   <app-social-networks-login-component></app-social-networks-login-component>
  </div>
</body>

</html>