<!DOCTYPE html>

<html>

<body>
  <div class="LoginWrapper">
    <br /><br />
    <p class="MainLabela">Dobrodošli nazad, <span class="SecondaryLabela">prijavite se na vaš nalog.</span></p>
    <br />
    <img class="logo" src="/assets/Images/logo_transparent.png" height="100" />
    <br />
    <form>
      <p class="labela">Korisničko ime:</p>
      <input class="inputpolja" id="username" type="text" name="Username" />
      <p class="labela">Korisnička lozinka:</p>
      <input class="inputpolja" id="password" type="password" name="Password" />
      <br /><br />
      <button class="inputpolja" type="submit">Prijavi se</button>
    </form>
    <br /><br />
    <a href=""><p class="labela">Niste registrovani? Registrujte se ovde!</p></a>
    <a href=""><p class="labela">Posetite sajt kao gost.</p></a>
    <br />
  </div>
</body>

</html>