body{
    background:transparent;
}

.MainLabela{

    font-family: Helvetica, sans-serif;
    font-weight:bold;
    font-size: 24px;
    color: #ec7729;

}

.SecondaryLabela{

    font-family: Helvetica, sans-serif;
    font-weight:bold;
    font-size: 17px;
    color: #DD612C;

}

.labela{
    padding-top: 15px;
    font-family: 'Georgia';
    color: #699FA1

}

.inputpolja {
    color: #699FA1;
    font-weight: bold;
    background-color: rgba(137, 179, 228, 0.3);
}

.sekcija {
    display: inline-block;
    padding: 10px;
}

.LoginWrapper {

    margin-left: 43px;
    width: 350px;
    text-align:center;

}

button{
    border-radius: 18px;
    height:34px;
    width: 150px;
    color: #699FA1;
    font-weight: bold;
    background-color: rgba(137, 179, 228, 0.3);
}
