.sidebar {
    height: 100%;
    width: 60px;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    background-color: white;
    overflow-x: hidden;
    padding-top: 100px;
    background-color: #a5d6d9;
    text-align: center;
}
  
#settings #search {
    padding-top: 300px;
}

#search {
    padding-top: 300px;
}

.sidebar a {
    padding: 6px 8px 6px 16px;
    text-decoration: none;
    font-size: 24px;
    color: #ec7729;
    display: block;
}
  
.sidebar a:hover {
    color: #f1f1f1;
}

#toolbarMenu {
    cursor: pointer;
    margin-right: 20px;
}

#mainToolbar .toolbar-spacer {
    flex: 1 1 auto;
}

#mainToolbar .toolbar-icon {
    cursor: pointer;
    margin: 0 8px;
}

.top-bar{
    position: relative;
    z-index: 2;
}