<html>
    <head>
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    </head>
</html>
<body>
    <div class="sidebar">
        <a href="http://localhost:4200/login-register"><i class="fa fa-fw fa-home"></i></a>
        <a href="http://localhost:4200/mySafetyDocs"><i class="fa fa-fw fa-file-text"></i></a>
        <a href="http://localhost:4200/profile"><i class="fa fa-fw fa-user"></i></a>
        <a href="#"><i class="fa fa-fw fa-envelope"></i></a>
        <a href="#"><i class="fa fa-fw fa-bell"></i></a>
        <a href="http://localhost:4200/map"><i class="fa fa-fw fa-map-marker"></i></a>
        <a href="http://localhost:4200/newDevice"><i class="fa fa-wrench"></i></a>
        <a href="#"><i id="search" class="fa fa-fw fa-search"></i></a>
        <a href="#"><i id="settings" class="fa fa-fw fa-cog"></i></a>
      </div>
</body>


  
