<html>

<head>
</head>

<body>
  <div class="top-bar">
  <mat-toolbar id="mainToolbar" color="primary">
    <mat-icon id="toolbarMenu" (click)="toggleSidebar()">subject</mat-icon>
    Smart Energy
    <span class="toolbar-spacer"></span>
    <div class="profileSection">
      <a href="/profile"><p class="profilename">Ooooo Weeee</p></a>
      <a href="/profile"><img src="/assets/Images/profilepic.jpg" class="profilepic"/></a>
    </div>
    <button mat-button [matMenuTriggerFor]="menu">
      <mat-icon   [matBadgeHidden]="hiddenBadge" class="toolbar-icon" [matBadge]="notificationMessages?.length" matBadgePosition="after" matBadgeColor="accent">notifications</mat-icon>
    </button>
    <mat-menu #menu="matMenu" >
      <app-notification *ngFor="let notification of notificationMessages" [type]="notification.type" [content]="notification.content" [seen]="notification.seen"></app-notification>
      <div *ngIf="notificationMessages?.length>0">
        <button mat-menu-item (click)="refresh()">Refresh</button>
        <button mat-menu-item (click)="markAllAsRead()">Mark all as read</button>
        <button mat-menu-item (click)="redirectToNotifications()">See all</button>
      </div>
      <div *ngIf="notificationMessages?.length<=0">
        <button mat-menu-item (click)="refresh()">Refresh</button>
        <p>No new notifications.</p>
      </div>

    </mat-menu>
  </mat-toolbar>
</div>
  <div class="container">
    <div class="sidebar" [ngClass]="{sidebarAnimation: expand===true}">
      <a *ngIf="serviceRef.checkRole([0, 1, 2, 3])" href="http://localhost:4200/dashboard"><i class="fa fa-fw fa-home"></i><span *ngIf="showFields">Dashboard</span></a>
      <a *ngIf="serviceRef.checkRole([0])" href="http://localhost:4200/adminPanel"><i id="settings" class="fa fa-fw fa-cog"></i><span *ngIf="showFields">Admin panel</span></a>
      <a *ngIf="serviceRef.checkRole([0, 1, 2, 3])" href="http://localhost:4200/mySafetyDocs"><i class="fas fa-file-alt"></i><span *ngIf="showFields">Safety Docs</span></a>
      <a *ngIf="serviceRef.checkRole([0, 1, 2, 3, 4])" href="http://localhost:4200/profile"><i class="fa fa-fw fa-user"></i><span *ngIf="showFields">My Profile</span></a>
      <a href="http://localhost:4200/new-call"><i class="fas fa-phone-alt" id="settings"></i><span *ngIf="showFields">New Call</span></a>
      <a *ngIf="serviceRef.checkRole([0, 1, 2, 3, 4])" href="http://localhost:4200/notifications"><i class="fa fa-fw fa-bell"></i><span *ngIf="showFields">Notifications</span></a>
      <a href="http://localhost:4200/map"><i class="fa fa-fw fa-map-marker"></i><span *ngIf="showFields">Map</span></a>
      <a *ngIf="serviceRef.checkRole([0])" href="http://localhost:4200/newDevice"><i class="fa fa-wrench"></i><span *ngIf="showFields">New Device</span></a>
      <a *ngIf="serviceRef.checkRole([0])" href="/teamsPage"><i class="fas fa-users"></i><span *ngIf="showFields">Teams</span></a>
      <a *ngIf="serviceRef.checkRole([0])" href="/consumers"><i class="fa fa-fw fa-plug"></i><span *ngIf="showFields">Consumers</span></a>
      <a *ngIf="serviceRef.checkRole([0])" href="#"><i id="search" class="fa fa-fw fa-search"></i><span *ngIf="showFields">Search</span></a>
      <div style="margin-top:100px;">
        <a *ngIf="serviceRef.checkRole([0, 1, 2, 3, 4])" href="http://localhost:4200/settings"><i id="settings" class="fa fa-fw fa-cog"></i><span *ngIf="showFields">Settings</span></a>
        <a *ngIf="serviceRef.checkRole([0, 1, 2, 3, 4])" (click)="logOut()"><i class="fas fa-sign-out-alt"></i><span *ngIf="showFields">Log Out</span></a>
      </div>
    </div>
  </div>
</body>
</html>