.sidebar {
    height: 100%;
    width: 60px;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    background-color: white;
    overflow-x: hidden;
    padding-top: 100px;
    background-color: #ec7729;
    text-align: center;
}

#settings #search {
    padding-top: 300px;
}

#search {
    padding-top: 300px;
}

.sidebar a {
    padding: 6px 8px 6px 16px;
    text-decoration: none;
    font-size: 24px;
    color: #a3e5e7;
    display: block;
}
  
.sidebar a:hover {
    color: #f1f1f1;
}

#toolbarMenu {
    cursor: pointer;
    margin-right: 20px;
}

#mainToolbar .toolbar-spacer {
    flex: 1 1 auto;
}

#mainToolbar .toolbar-icon {
    cursor: pointer;
    margin: 0 8px;
}

.top-bar{
    position: relative;
    z-index: 2;
}

.profilename{
    color: #ce7729;
    margin-top: 7px;
    margin-right: 3px;
}

.profilepic{
    height: 53px;
    border-radius: 50%;
    margin-right: 24px;
    margin-left: 24px;
}

.profileSection{
    display: inline-flex;
    margin-top: 4px;

}

#mainToolbar{
    height: 70px;
}

.profilepic:hover{
    border: 2px solid #dd612c;
    transition: 0.2s;
}

.profilename:hover{
    color: #a3e5e7;
    transition: 0.3s;
}