<html>

<head>
</head>
<body>
    <div class="container">
        <div class="sidebar">
            <a href="http://localhost:4200/dashboard"><i class="fa fa-fw fa-home"></i></a>
            <a href="http://localhost:4200/mySafetyDocs"><i class="fas fa-file-alt"></i></a>
            <a href="http://localhost:4200/profile"><i class="fa fa-fw fa-user"></i></a>
            <a href="#"><i class="fa fa-fw fa-envelope"></i></a>
            <a href="#"><i class="fa fa-fw fa-bell"></i></a>
            <a href="http://localhost:4200/map"><i class="fa fa-fw fa-map-marker"></i></a>
            <a href="http://localhost:4200/newDevice"><i class="fa fa-wrench"></i></a>
            <a href="#"><i id="search" class="fa fa-fw fa-search"></i></a>
            <a href="#"><i id="settings" class="fa fa-fw fa-cog"></i></a>
        </div>
    </div>
</body>
</html>
