<div class="work-plans">
    <div class="container">
        <div class="row">
            <h2 class="title">Work plans</h2>
            <label class="labela" >Here, employees can view work plans. The table down is in experimental phase.</label>
        </div>
        <div class="row">
            <div class="col col-lg-2">
                <div class="btn btn-primary"> 
                    <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-file-earmark" viewBox="0 0 16 16">
                        <path d="M14 4.5V14a2 2 0 0 1-2 2H4a2 2 0 0 1-2-2V2a2 2 0 0 1 2-2h5.5L14 4.5zm-3 0A1.5 1.5 0 0 1 9.5 3V1H4a1 1 0 0 0-1 1v12a1 1 0 0 0 1 1h8a1 1 0 0 0 1-1V4.5h-2z"/>
                    </svg>
                    <label class="btn-label"> New
                        <input type="button" (click)="createNewPlan()" name="filter-button" id="filter-button" style="display: none;"> 
                    </label>
                </div>
            </div>
            
            <div class="col col-lg-2">
                <div class="btn-group btn-group-toggle" data-toggle="buttons">
                    <label class="btn radiobtn">
                        <input type="radio" name="options" id="optionAll" autocomplete="off" checked/> All
                    </label>
                    <label class="btn radiobtn">
                        <input type="radio" name="options" id="optionMine" autocomplete="off"> Mine
                    </label>
                </div>
            </div>
            <div class="col col-lg-2 ml-auto">
                <div class="btn btn-primary float-right"> 
                    <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-funnel" >
                        <path d="M1.5 1.5A.5.5 0 0 1 2 1h12a.5.5 0 0 1 .5.5v2a.5.5 0 0 1-.128.334L10 8.692V13.5a.5.5 0 0 1-.342.474l-3 1A.5.5 0 0 1 6 14.5V8.692L1.628 3.834A.5.5 0 0 1 1.5 3.5v-2zm1 .5v1.308l4.372 4.858A.5.5 0 0 1 7 8.5v5.306l2-.666V8.5a.5.5 0 0 1 .128-.334L13.5 3.308V2h-11z"/>
                    </svg>
                    <label  class="btn-label"> Filter
                        <input type="button" name="filter-button" id="filter-button" style="display: none;"> 
                    </label>
                </div>
            </div>
            
        </div>
        
        <div class="row">
            <app-table-component [tableType]='5'></app-table-component>
        </div>
    </div>
</div>