<div class="container pageContainer">
    <h3 class="title"><i class="fas fa-users"></i> Create a team:</h3>
    <p class="labela">Here, the administrator can create a dispatch team that solve incidents.</p>
    <div class="form-group">
        <form [formGroup]="teamsForm" class="formWrapper">
            <div class="form-inline" style="padding-top: 30px; padding-bottom: 15px;">
                <label class="col-sm-2 labela">Team name:</label>
                <input class="col-md-7 form-control inputPolja" type="text" formControlName="name"
                    placeholder="Enter a team name here" />
            </div>
            <small *ngIf="teamsForm.get('name').invalid && teamsForm.get('name').touched" class="text-danger">Team name is a required field.</small>
        </form>

        <div cdkDropListGroup style="margin-top: 20px;">
            <div class="example-container" style="text-align: center;">
                <h5 class="title">Available Team members ({{availableMem.length}}):</h5>
                <div class="form-inline" style="margin-top: 23px;">
                    <input class="form-control col-md-9 inputPolja" type="text" />
                    <button class="btn buttonClass col-md-3"><i class="fas fa-search"></i> Search</button>
                </div>

                <cdk-virtual-scroll-viewport class="scrollbar" style="height: 400px" itemSize="3">
                    <div cdkDropList [cdkDropListData]="availableMem" class="example-list"
                        (cdkDropListDropped)="drop($event)">
                        <div class="example-box" *ngFor="let item of availableMem" cdkDrag>
                            <div class="userItem">
                                <img src="{{item.profileImg}}" style="width:40px; border-radius:50%" />
                                <span> {{item.name}} {{item.lastname}} @{{item.username}}</span>
                            </div>
                        </div>
                    </div>
                </cdk-virtual-scroll-viewport>
            </div>

            <div class="example-container" style="text-align: center;">
                <h5 class="title">This teams members ({{usedMem.length}}):</h5>
                <div class="form-inline" style="margin-top: 23px;">
                    <input class="form-control col-md-9 inputPolja" type="text" />
                    <button class="btn buttonClass col-md-3"><i class="fas fa-search"></i> Search</button>
                </div>

                <div cdkDropList [cdkDropListData]="usedMem" class="example-list" (cdkDropListDropped)="drop($event)">
                    <cdk-virtual-scroll-viewport class="scrollbar" style="height: 400px" itemSize="3">
                        <div class="example-box" *ngFor="let item of usedMem" cdkDrag>
                            <div class="userItem">
                                <img src="{{item.profileImg}}" style="width:40px; border-radius:50%" />
                                <span> {{item.name}} {{item.lastname}} @{{item.username}}</span>
                            </div>
                        </div>
                    </cdk-virtual-scroll-viewport>
                </div>
                <button class="btn buttonClass" style="margin-top: 12px; width: 200px;">Make team</button>
            </div>
        </div>
    </div>
</div>