.btn{
    float: right;
    margin-right: 4px;
}

.title{
    color: #ec7729;
    font-weight: bold;
    font-family: 'Roboto';
}

.labela{
    color: #699fa1;
    font-family: 'Georgia';
    margin-bottom: 25px;
}