<div class="container">
    <div class="row">
        <h3 class="title">History of State Changes:</h3>
        <p class="labela">Here, you can see the history of this work request denial or approval.</p>
    </div>
    <div>
        <app-table-component [tableType]='3'></app-table-component>
        <div class="row justify-content-end">
            <div *ngIf="editMode" class="w-auto ml-auto">
                <button type="button" class="btn btn-secondary ml-3" (click)="addState(0)">Cancel</button>
                <button type="button" class="btn btn-danger ml-3" (click)="addState(1)">Deny</button>
                <button type="button" class="btn btn-success ml-3" (click)="addState(2)">Approve</button>
            </div>
        </div>

    </div>
</div>