<html>
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
</head>
<body>
    <div class="container">
        <div class="social-buttons">        
        <!-- facebook  Button -->
                <a href="http://www.facebook.com" target="blank" class="social-margin"> 
                  <div class="social-icon facebook">
                    <i class="fa fa-facebook" aria-hidden="true"></i> 
                  </div>
                </a>
              <!-- TwitterButton -->
              <a href="http://twitter.com/" target="blank" class="social-margin">
                <div class="social-icon twitter">
                  <i class="fa fa-twitter" aria-hidden="true"></i>
                </div> 
              </a>
                <!-- LinkedIn Button -->
                <a href="http://linkedin.com/" class="social-margin" target="blank">
                  <div class="social-icon linkedin">
                    <i class="fa fa-linkedin" aria-hidden="true"></i>
                  </div> 
                </a>
              <!-- Github Button -->
                <a href="https://github.com/"  target="blank"  class="social-margin">
                  <div class="social-icon github">
                    <i class="fa fa-github-alt" aria-hidden="true"></i>
                  </div>
                </a>            
        </div>
        </div>
</body>
</html>