.list-group {  
    margin:auto;
    float:left;
    padding-top:20px; 
}


#options{
   background-color: #699FA1;
   color: floralwhite;
}

.list-group .list-group-item {
    background-color: #C3E3E7;
    color:  #699FA1;
    
}