<body>
<head>
</head>

 <div class="list-group">
   
    <a href="#" id="options" class="list-group-item">Options</a>
    <a [routerLink]="['/newIncident']" class="list-group-item">Basic Information</a>
    <a href="#" class="list-group-item">Devices</a>
    <a href="#" class="list-group-item">Resolution</a>
    <a href="#" class="list-group-item">Calls</a>
    <a href="#" class="list-group-item">Crew</a>
    <a href="#" class="list-group-item">Multimedia attachments</a>
    <a href="#" class="list-group-item">Equipment</a>


  </div>
</body>