<!DOCTYPE html>
<!-- OVO JE KOMPONENTA KOJA SE MOZE KASNIJE KORISTITI I ZA MY WORK PLANS I MY SAFETY DOCS-->
<!-- PROBATI SA JOS JEDNOM KOMPONENTOM ZA NABROJANE PARAGRAFE -->
<html lang="en">

<head>
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.9.0/css/all.min.css" rel="stylesheet">
</head>

<body>
    <div class="container">
        <mat-card (click)="openMyIncidentsTable()" matRipple class="mat-elevation-z7 card">
            <mat-card-header class="header">
              <div mat-card-avatar class="example-header-image"></div>
              <mat-card-title class="title">My Incidents</mat-card-title>
            </mat-card-header>
            <mat-card-content class="content">
                <div class="container text">
                    <p>Drafts</p>
                    <p>Canceled</p>
                    <p>Executing</p>
                    <p>Completed</p>
                </div>
            </mat-card-content>
        </mat-card>
        
        <mat-card (click)="openMyWorkRequests()" mat-ripple class="mat-elevation-z7 card">
            <mat-card-header class="header">
              <div mat-card-avatar class="example-header-image"></div>
              <mat-card-title class="title">My Work Requests</mat-card-title>
            </mat-card-header>
            <mat-card-content class="content">
                <div class="container text">
                    <p>Drafts</p>
                    <p>Canceled</p>
                    <p>Executing</p>
                    <p>Completed</p>
                </div>
            </mat-card-content>
        </mat-card>

        <mat-card (click)="openMyWorkPlans()" class="mat-elevation-z7 card">
            <mat-card-header class="header">
              <div mat-card-avatar class="example-header-image"></div>
              <mat-card-title class="title">My Work Plans</mat-card-title>
            </mat-card-header>
            <mat-card-content class="content">
                <div class="container text">
                <p>Drafts</p>
                <p>Canceled</p>
                <p>Executing</p>
                <p>Completed</p>
                </div>
            </mat-card-content>
        </mat-card>

        <mat-card (click)="openMySafetyDocsTable()" class="mat-elevation-z7 card">
            <mat-card-header class="header">
              <div mat-card-avatar class="example-header-image"></div>
              <mat-card-title class="title">Safety Docs</mat-card-title>
            </mat-card-header>
            <mat-card-content class="content">
                <div class="container text">
                <p>Drafts</p>
                <p>Canceled</p>
                <p>Executing</p>
                <p>Completed</p>
                </div>
            </mat-card-content>
        </mat-card>
    </div>
</body>

</html>