<div class="container pageContainer">
    <div class="row">
        <h3 class="title"><i class="fas fa-users"></i> Team insider:</h3>
        <p class="labela">Here, the administrator can view information about a certain dispatch team that solves
            incidents.</p>
        <div class="col" style="margin-top: 34px;">
            <div class="form-group">
                <label class="col title1">Team information:</label>
            </div>
            <div class="form-group">
                <label class="col-md-5 labela">Team name:</label>
                <label class="col-md-7 labela1" style="font-weight: bold;">Telep dispatch team</label>
            </div>
            <div class="form-group">
                <label class="col-md-5 labela">Team member count:</label>
                <label class="col-md-7 labela1" style="font-weight: bold;">10</label>
            </div>
            <div class="form-group">
                <label class="col-md-5 labela">Currently working on:</label>
                <label class="col-md-7 labela1" style="font-weight: bold;">Incident-1</label>
            </div>
            <div class="form-group">
                <label class="col-md-5 labela">Date formed:</label>
                <label class="col-md-7 labela1" style="font-weight: bold;">23.07.2021</label>
            </div>
            <button class="btn buttonClass" style="margin-top: 24px; width: 200px;" routerLink="/editTeam">Edit team</button>
        </div>
        <div class="col" style="margin-top: 34px;">
            <div class="form-group">
                <label class="col title1">Team members:</label>
            </div>
            <div class="form-inline" style="margin-top: 21px; margin-bottom: 2px;">
                <input class="form-control col-md-9 inputPolja" type="text"/>
                <button class="btn buttonClass col-md-3"><i class="fas fa-search"></i> Search</button>
            </div>
            <cdk-virtual-scroll-viewport style="height: 300px" itemSize="3">
                <div class="listContainer">
                <div class="example-box" *ngFor="let item of usedMem">
                    <mat-card class="example-card">
                        <img mat-card-image src="{{item.profileImg}}" style="border-radius: 50%; width: 50%;">
                        <mat-card-content>
                            <p>@{{item.username}}</p>
                            <p>{{item.name}} {{item.lastname}}</p>
                        </mat-card-content>
                    </mat-card>
                </div>
                </div>
            </cdk-virtual-scroll-viewport>
        </div>
    </div>
</div>