.btn{
    background: var(--c-blue-100);
    color: white;
    font-weight: bold;
    border-color: var(--c-blue-100);
}
.btn:hover{
    background: var(--c-orange-200);
    border-color: var(--c-orange-200);
}
.work-plan-form{
    margin-left:50px;
}
.title{
    font-family: 'Roboto';
    font-weight: bold;
    color: var(--c-orange-100);
}

.labela{
    color: var(--c-blue-100);
    font-family: 'Georgia';
}