<div class="container ml-5">
    <div class="row">
        <div class="work-plan-form">
            <app-side-navbar [sidebarType]='2'></app-side-navbar>
            <div class="container work-plan-content">
                <router-outlet></router-outlet>
                <div class="row justify-content-end mt-5">
                    <div class="w-auto ml-auto">
                            <button class="btn" >Save</button>
                            <button class="btn ml-3">Cancel</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

