<div class="work-plan-form">
    <app-side-navbar [sidebarType]='2'></app-side-navbar>
    <router-outlet></router-outlet>
    <div class="row justify-content-center mt-5">
        <div class="w-auto ml-5">
            <button class="btn" data-toggle="modal" data-target="#exampleModalCenter">Save</button>
            <button class="btn ml-3" routerLink="/workPlans">Cancel</button>
        </div>
    </div>
    <div class="modal fade" id="exampleModalCenter" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered" role="document">
          <div class="modal-content">
            <div class="modal-header">
              <h5 class="modal-title title" id="exampleModalLongTitle">Send work request?</h5>
              <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                <span aria-hidden="true">&times;</span>
              </button>
            </div>
            <div class="modal-body labela">
              Are you sure you've entered all the required information?
            </div>
            <div class="modal-footer">
              <button type="button" class="btn" data-dismiss="modal">Cancel</button>
              <button type="button" (click)="onSubmit()" data-dismiss="modal" class="btn ml-3">Send</button>
            </div>
          </div>
        </div>
      </div>
</div>