<!-- <!DOCTYPE html>
<html>

<head>
    <title>This is a sidebar</title>
    <meta charset="utf-8" />
</head>

<body> -->
        <div class="wrapper">
        <nav mat-tab-nav-bar class="tabGroup">
            <a mat-tab-link class="tabItem"
            *ngFor="let item of sidebarMap | keyvalue"
            [routerLink]="item.value"
            routerLinkActive #rla="routerLinkActive"
            [active]="rla.isActive">
            
            {{item.key}}</a>
            </nav>
        </div>
<!-- </body>

</html> -->