.tabGroup {  
    margin:auto;
    margin-left: 25px;
    font-weight: bold;
}

.tabItem:hover {
    background-color: #699fa1;
    color: #e0eaeb;
    
}

.tabItem {
    color: #dd612c;
    font-family: 'Arial';
    font-weight: bold;
    font-size: 15px;
}

.wrapper{
    padding-bottom: 30px;
}