<html>

<body>
	<div class="container-fluid row">
		<div class="row formsClass">
			<div class="col loginform d-md-block" [hidden]="toggleFormsVisibility" [ngClass]="{easingIn: show===true}">
				<app-login-component></app-login-component>
				<a href="#" (click)="toggleForms()"><p class="labela">Not registered? Register here!</p></a>
				<div style="font-size:1.5em">
					 <a href="/new-call" (click)="openNewIncident()" class="buttonReport" style="background-color:#A5D6D9;">Submit a Call</a> 
				</div>
			</div>
			<div class="col registerform d-md-block" [hidden]="!toggleFormsVisibility" [ngClass]="{easingIn: show===false}">
				<app-register-component></app-register-component>
				<br/>
				<a href="#" (click)="toggleForms()" class="d-lg-none d-xl-none"><p class="labela">Have an account? Sign In here!</p></a>
			</div>
			<div class="overlay-container d-none d-md-block" [ngClass]="{swipeLeftAnimation: show===false}">
				<div class="overlay">
					<div class="overlay-panel overlay-left" [ngClass]="{loginAnimation: show===false}">
						<h1 class="text">Welcome Back!</h1>
						<p class="text">To keep connected with us please login with your personal info</p>
						<button class="ghost" (click)="toggleForms()" id="signIn">Sign In</button>
					</div>
					<div class="overlay-panel overlay-right" [ngClass]="{registerAnimation: show===false}">
						<h1 class="text">Welcome,</h1>
						<p class="text">Smart Energy helps submit a power grid incident calls so that our teams can get on the spot quicker.</p>
						<button class="ghost" (click)="toggleForms()" id="signUp">Register</button>
					</div>
				</div>
			</div>
		</div>
	</div>
</body>
</html>