body{	
	position: fixed;
	top:0;
	left: 0;
	width: 100%;
	height: 100%;
	background-image: url(/assets/Images/websitebackground.jpg);
	background-repeat:no-repeat;
	background-size: cover;
}

.loginform, .registerform{

	text-align: center;

}

.formsClass {
    border: 1px solid black;
    border-radius: 4px;
    width: 995px;
	height: 864px;
	background: white;
    position: relative;
	margin: 55px auto;
	box-shadow: 5px 5px 10px black;

}

.overlay-container {
	background-image: url(/assets/Images/gridlinethunder.jpg);
    background-repeat:no-repeat;
    background-size:cover;
	background-position-x: 20%;
	position: absolute;
	top: 0;
	left: 50%;
	width: 50%;
	height: 100%;
	overflow: hidden;
	transition: transform 0.6s ease-in-out;
	z-index: 5;
}

.overlay {
	color: #e0eaeb;
	position: relative;
	left: -100%;
	height: 100%;
	width: 200%;
}

.overlay-panel {
	position: absolute;
	display: flex;
	align-items: center;
	justify-content: center;
	flex-direction: column;
	text-align: center;
	height: 100%;
	width: 50%;
	transition: transform 0.6s ease-in-out;
}

.easingIn {
	animation: slideRight 1s ease;
}

@keyframes slideRight {
	0% {transform: translateX(-50px)}
	100% {transform: translateX(0px)}
}

.overlay-left {
	font-family: 'Roboto';
	font-weight: bold;
	margin-left: 121px;
	transform: translateX(-40%);
}

.overlay-right{
	font-family: 'Roboto';
	font-weight: bold;
	right:0;
}

.loginAnimation {
	transform: translateX(75%);
}

.swipeLeftAnimation{
	transform: translateX(-100%);
}

.registerAnimation {
	transform: translateX(100%);
}

button{
	border-radius: 18px;
    width: 123px;
	height: 24px;
	font-weight: bold;
    color: #dd612c;
    font-weight: bold;
    background-color: #C3E5E7;
}

.text{
	text-shadow: 1px 0px black;

}

.labela{

    font-family: 'Georgia';
	color: #699fa1;

}

a.buttonReport {
	display:inline-block;
	padding:0.46em 1.6em;
	border: 0.1em solid #dd612c;
	margin:0 0.2em 0.2em 0;
	border-radius:0.12em;
	box-sizing: border-box;
	text-decoration:none;
	font-family:'Roboto';
	font-weight:300;
	color: #DD612C;
	text-shadow: 0 0.04em 0.04em rgba(0,0,0,0.35);
	background-color:#FFFFFF;
	text-align:center;
	transition: all 0.15s;
}

a.buttonReport:hover {
	text-shadow: 0 0 2em rgba(255,255,255,1);
	color:#FFFFFF;
	border-color:#FFFFFF;
}

.ghost{

	height: 30px;
}