<!DOCTYPE html>
<html lang="en">
    <head>
        <meta name="utf-8"/>
        <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    </head>
    <body>
        <div class="container requestsPage">
            <h2 class="title">Pending profile requests:</h2>
            <p class="labela">Here, the administrator can approve or disaprove submitted profile requests from users. The table down is in experimental phase.</p>
            <app-table-component [tableType]='0'></app-table-component>
        </div>
    </body>
</html>