.adminButton{
    margin: 4px;
}

.header{
    
    background-color: #ec7729;
    color: white;
    text-align: center;
    font-family: 'Georgia';
    font-weight: bold;
    font-size: 15px;
}

.body{
    text-align: center;
    font-weight: bold;
    color: white;
    text-shadow: 1px 0px black;
    font-family: 'Georgia';
    height: 70px;

}

.table{
    box-shadow: 2px 3px 4px black;
    border-radius: 10px;
    margin-top: 32px;
}

.tablerow{
    background-color: #699fa1;
}

.tablerow:hover{
    background-color: #dd612c;
    transition: 0.45s;
}

.teamButtons{
    font-family: 'Roboto';
    font-weight: bold;
    margin-right: 4px;
}

.mat-cell, .mat-header-cell {
    justify-content:center;

}

::ng-deep .mat-sort-header-container {
    margin-left: 21px;
    justify-content:center;
}

::ng-deep .mat-sort-header-arrow {
    color: #699fa1; /*change color of arrow*/
    font-weight: bold;
}

.paginator{
    font-family: 'Roboto';
    font-weight: bold;
    font-size: 15px;
    height: 75px;
    color: #ec7729;
    background-color: #e0eaeb;
}

.paginator:hover{
    background-color: beige;
    transition: 0.45s;
}