<!DOCTYPE html>
<html>

<head>
  <title>This is a title component.</title>
  <meta charset="utf-8" />
  <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.9.0/css/all.min.css" rel="stylesheet">

</head>

<mat-form-field class="example-form-field">
  <mat-label>Filter</mat-label>
  <input (keyup)="applyFilter($event.target.value)" matInput placeholder="Enter here">
</mat-form-field>

<body>
  <div class="mat-elevation-z8 table">

  <mat-table [dataSource]="dataBind" matSort>
    <div>
      <ng-container *ngFor="let col of keyNames" [matColumnDef]="col">
        <mat-header-cell *matHeaderCellDef class="header" mat-sort-header>{{col.charAt(0).toUpperCase() + col.slice(1) + ':'}}
        </mat-header-cell>
        <mat-cell *matCellDef="let element" class="body"> {{element[col]}} </mat-cell>
      </ng-container>

      <ng-container matColumnDef="What to do?">
        <mat-header-cell *matHeaderCellDef class="header">What to do?</mat-header-cell>
        <mat-cell *matCellDef="let row" class="body">
          <div *ngIf="tableid===0">
            <button mat-button class="adminButton btn btn-success">Approve</button>
            <button mat-button class="adminButton btn btn-danger">Block</button>
          </div>
          <div *ngIf="tableid===7">
            <button [hidden]="hideElement" routerLink="/viewTeam" class="teamButtons btn btn-primary">View Team</button>
            <button [hidden]="hideElement" routerLink="/editTeam" class="teamButtons btn btn-info"><i class="fas fa-edit"></i> Edit</button>
            <button [hidden]="choose" class="teamButtons btn btn-primary">Choose</button>
          </div>
          <div *ngIf="tableid===9">
            <button [hidden]="hideElement" routerLink="/edit-consumer" class="consumer-buttons btn btn-primary"><i class="fas fa-edit"></i>Edit</button>
            <button [hidden]="hideElement" routerLink="/delete-consumer" class="consumer-buttons btn btn-info"><i class="fas fa-trash"></i> Delete</button>
          </div>
          <div *ngIf="tableid===10">
            <button mat-button class="adminButton btn btn-success">Approve</button>
            <button mat-button class="adminButton btn btn-danger">Deny</button>
          </div>
        </mat-cell>
      </ng-container>
    </div>
    <mat-header-row *matHeaderRowDef="headerToPrint"></mat-header-row>
    <mat-row *matRowDef="let row; columns: headerToPrint;" class="tablerow"></mat-row>
  </mat-table>
  <mat-paginator class="paginator" [pageSizeOptions]="[5, 10, 20]" showFirstLastButtons></mat-paginator>
  </div>
</body>

</html>