<div class="container basicInformationForm">
    <h3 class="title">Resolution:</h3>
    <p class="labela">Information that can be useful for later analyzes.</p>
    <form name="resolutionForm" [formGroup]="resolutionForm">
        <div class="row formRow">
            <div class="col">        
                <div class="form-group row">
                    <label class="col-sm-4 col-form-label">Cause:</label>
                    <select class="col-sm-2 form-control" formControlName="cause">
                        <option>Weather</option>
                        <option>System failure</option>
                        <option>Human factor</option>           
                    </select>
                </div>   
                <div class="form-group row">
                    <label class="col-sm-4 col-form-label">Subcause:</label>
                    <select class="col-sm-2 form-control" formControlName="subcause">
                        <option>Thunder</option>
                        <option>Hurricane</option>
                        <option>Wind</option>           
                    </select>
                </div>  
                <div class="form-group row">
                    <label class="col-sm-4 col-form-label">Construction type:</label>
                    <select class="col-sm-2 form-control" formControlName="constructionType">
                        <option>Underground</option>
                        <option>Overground</option>           
                    </select>
                </div>  
                <div class="form-group row">
                    <label class="col-sm-4 col-form-label">Material:</label>
                    <select class="col-sm-2 form-control" formControlName="material">
                        <option>Metal</option>
                        <option>Plastic</option>           
                    </select>
                </div>           
            </div>
        </div>
    </form>
</div>