<!DOCTYPE html>
<html>

<head>
    <title>This is a title.</title>
    <meta charset="utf-8" />
</head>

<body>
    <div class="container requestsPage">
        <h2 class="title">Work Requests:</h2>
        <p class="labela">Here, dispatchers can approve or disaprove work request drafts from other dispatchers. The table down is in experimental phase.</p>
        <a href="/workRequestForm"><button class="btn newbtn"><i class="fas fa-file"></i>New</button></a>      
        <div class="btn-group btn-group-toggle" data-toggle="buttons">
            <label>
                <input type="radio" name="options" id="option1" autocomplete="off" checked/> All
            </label>
            <label class="btn radiobtn">
                <input type="radio" name="options" id="option2" autocomplete="off"> Mine
            </label>
        </div>
        <button class="btn filterbtn"><i class="fa fa-filter"></i>Filter</button>
        <app-table-component [tableType]='1'></app-table-component>
    </div>
</body>

</html>