<div class="container">
    <div class="row">
        <h3 class="title">Multimedia attachments:</h3>
        <p class="labela">Here, multimedia attachments can be added. Attachments such as diagrams,
            drafts, images will be shared with team members who are working on an incident that this work request is
            for.</p>
    </div>
    <div class="row col-md-11">
        <div class="imageListClass">
            <form name="multimediaForm">
                <input id='fileid' type='file' #fileInput hidden (change)="onFileChanged($event)" accept="image/*"
                    multiple />
                <div class="galleryContainer">
                    <a (click)="fileInput.click()">
                        <div class="uploadImage">
                            <p class="uploadText">Upload</p>
                        </div>
                    </a>
                    <div class="image-list" fxLayout="row">
                        <ng-container *ngFor="let item of filePaths">
                            <img class="imageClass" src="{{item.picture}}" />
                            <a (click)="fileDelete(filePaths.indexOf(item))">Delete img</a>
                        </ng-container>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>