.buttons{
    background: var(--c-blue-100);
    color: white;
    font-weight: bold;
    border-color: var(--c-blue-100);
}

.title, .modal-title{
    font-family: 'Roboto';
    font-weight: bold;
    color: var(--c-orange-100);
}

.label{
    color: var(--c-blue-100);
    font-family: 'Georgia';
    margin-bottom: 25px;
}
.input-group-text, .form-control, .custom-select{
    background-color: white;
    font-family: 'Georgia';

}
.btn{
    background: var(--c-blue-100);
    color: white;
    font-weight: bold;
    border-color: var(--c-blue-100);
}
.btn:hover{
    background: var(--c-orange-200);
    border-color: var(--c-orange-200);
}

