<div class="container">
<form [formGroup]="WPSwitchingInstuctionsForm" >
  <div class="container">
      <h3 class="title">Switching instructions:</h3>
          <p class="label">Please provide necessary instructions.</p> 
          <div class="row ">
              <div class="col col-lg-2">
                  <button class="btn btn-primary buttons"  data-toggle="modal" data-target="#instructionModal">
                    <i class="fa fa-file" ></i>
                      New
                  </button>
              </div>
              <div class="col col-lg-3">
                  <button class="btn btn-primary buttons " (click)="deleteAllInstructions()">
                    <i class="fa fa-trash" ></i>
                    Delete all
                  </button>
              </div>
          </div>
          <div class="row ">
              <div class="row mt-4">
                  <div class="container">
                      <tbody >
                          <tr formArrayName="items" *ngFor="let item of WPSwitchingInstuctionsForm.get('items')['controls']; let i = index;">
                              <div class="input-group mb-3" [formGroupName]="i">
                                <div class="input-group-prepend" >
                                <input class="input-group-text" formControlName="deviceId" readonly/>

                                </div>
                                <input type="text" class="form-control"  aria-label="instruction" formControlName="name"  readonly>
                              
                                <div class="input-group-append">
                                <input class="input-group-text" formControlName="status" [ngStyle]="{'color': (item.value!=null && item.value.status=='EXECUTED')? 'var(--c-blue-100)' : 'var(--c-orange-100)'}" readonly/>
                              </div>
                              <div *ngIf="editMode">
                                <button class="btn btn-primary buttons ml-2 mr-2" (click)="executeInstruction(i)"><i class="fa fa-check-square"></i>Execute</button>
                              </div>
                              <button class="btn btn-primary buttons mr-2" (click)="deleteInstruction(i)"><i class="fa fa-trash"></i>Delete</button>
                              </div>                             
                          </tr>
                      </tbody>
                  </div>
                  <div class="container" *ngIf="instructions.length==0">
                      <p class="label">No added instructions.</p>
                  </div>
              </div>
          </div>
  </div>
</form>
<div class="row justify-content-center mt-5">
  <div *ngIf="editMode" class="w-auto ml-5">
      <button class="btn" (click)="saveChanges()">Save Changes</button>
      <button class="btn ml-3" routerLink="/workPlans">Cancel</button>
  </div>
</div>

</div>


<!-- Modal -->
<div class="modal fade" id="instructionModal" tabindex="-1" aria-labelledby="ModalLabel" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="ModalLabel">Add new instruction</h5>
          <button type="button" class="close" data-dismiss="modal"  (click)="resetModal()" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
          <form  [formGroup]="ModalForm" >
            <div class="input-group mb-3">
              <div class="input-group-prepend">
                <label class="input-group-text" for="inputGroupSelect01">Element</label>
              </div>
              <input type="text" class="form-control" id="inputGroupSelect01" formControlName="deviceName" [matAutocomplete]="auto" />
              <mat-autocomplete #auto="matAutocomplete">
                <mat-option *ngFor="let device of filteredDevices | async" [value]="device">
                  {{device}}
                </mat-option>
              </mat-autocomplete>       
            </div>
          <div class="input-group mb-3">
              <div class="input-group-prepend">
                <span class="input-group-text" id="inputGroup-1">Instruction</span>
              </div>
              <input type="text" class="form-control" aria-label="Instuction text" aria-describedby="inputGroup-1"  formControlName="deviceInstruction" >
            </div>
          </form>
           
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary buttons" (click)="resetModal()" data-dismiss="modal">Close</button>
          <button type="button" class="btn btn-primary buttons" (click)="createNewInstruction()" data-dismiss="modal">Save changes</button>
        </div>
      </div>
    </div>
  </div>