<!DOCTYPE html>
<html>

<head>
    <title>This is a title.</title>
    <meta charset="utf-8" />
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.9.0/css/all.min.css" rel="stylesheet">
</head>

<body>
    <div class="container requestsPage">
        <h2 class="title">Devices:</h2>
        <p class="labela">Here, all or filtered devices in the system are shown.</p>
      
            <button  (click)="addDevice()" class="btn newbtn"><i class="fas fa-file"></i>Add</button>  
        <app-table-component [tableType]='4'></app-table-component>
             
    </div>
</body>

</html> 