 <div class="container ml-5 mt-5">
    <div class="row">
        <div class="notifications-page">
            <div class="container notifications-content">
                <div class="row align-items-start">
                    <div class="col col-lg-3">
                        <div class="container filters">
                            <div class="list-group" >
                                <button class="list-group-item" *ngFor="let filter of filterOptions" 
                                ngSwitch = "{{ filter }}" aria-hidden="true" (click)="onClick(filter)">{{filter}}
                                <ng-template [ngSwitchCase] = "'Errors'">
                                    <i class="fa fa-ban "></i>
                                </ng-template>
                                <ng-template [ngSwitchCase]="'Info'" >
                                    <i class="fa fa-info-circle "></i>
                                </ng-template>
                                <ng-template [ngSwitchCase]="'Success'">
                                    <i class="fa fa-check"></i>
                                </ng-template>
                                <ng-template [ngSwitchCase]="'Warnings'">
                                    <i class="fa fa-exclamation-circle"></i>
                                </ng-template>
                            </button>
                            </div>
                        </div>
                    </div>  
                    <div class="col ">
                        <div class="row" *ngIf="notificationMessages.length<=0">
                            <label class="label">No notifications.</label>
                        </div>
                        <div class="row " >
                            <app-notification *ngFor="let notification of filter()" [type]='notification.type' 
                             [content]="notification.content" [seen]="notification.seen" ></app-notification>   
                        </div>
                    </div>             
                </div>
                <div class="row">
               
                    <div class="w-auto ml-auto">
                        <button class="btn" (click)="markAsRead()">Mark as read</button>
                        <button class="btn ml-3" (click)="clearAll()">Clear all</button>
                    </div>
                </div> 
                <div class="row">
               
                    <div class="w-auto ml-auto mt-5">
                        <button class="btn" (click)="showToastrInfo()">Info</button>
                        <button class="btn ml-3" (click)="showToastrWarning()">Warning</button>
                        <button  class="btn ml-3" (click) = "showToastrError()">Error</button>
                        <button  class="btn ml-3" (click) = "showToastrSuccess()">Success</button>
                    </div>
                </div> 
            </div>
       
        </div>
    </div>
</div>