.notifications-page{
    display: flex;

}
.list-group {  
    margin:auto;
    float:left;
    margin-right: 25px;
    font-family: 'Roboto';
    font-weight: bold;
    
}

.list-group-item:hover {
    background-color: #699fa1;
    color: #e0eaeb;
    
}

.list-group-item {
    background-color: #e0eaeb;
    color: #699fa1;
    padding-top:24px;
    font-weight: bold;
}
.btn{
    background: var(--c-blue-100);
    color: white;
    font-weight: bold;
    border-color: var(--c-blue-100);
}