.workRequestForm{
    margin-left:50px;
}

.btn{
    background: var(--c-blue-100);
    color: white;
    font-weight: bold;
    border-color: var(--c-blue-100);
}
.btn:hover{
    background: var(--c-orange-200);
    border-color: var(--c-orange-200);
}

.title{
    font-family: 'Roboto';
    font-weight: bold;
    color: #ec7729;
}

.labela{
    color: #699fa1;
    font-family: 'Georgia';
}

.dugmad{
    padding-top: 24px;
    text-align: center;
}